{{- with site.Params.legal }}
<script>
(function() {
  const STORAGE_KEY = 'sd-disclaimer-dismissed';
  try {
    if (localStorage.getItem(STORAGE_KEY)) return;
  } catch (e) {}

  const notAffiliatedHTML = {{ .notAffiliated | markdownify | jsonify | safeJS }};
  const fairUseHTML = {{ .fairUseShort | markdownify | jsonify | safeJS }};
  const learnMoreUrl = {{ .learnMoreUrl | jsonify | safeJS }};

  const banner = document.createElement('div');
  banner.className = 'site-disclaimer';
  banner.innerHTML = `
    <div class="site-disclaimer-text">
      <p>${notAffiliatedHTML}</p>
      <p>${fairUseHTML}</p>
      <p class="site-disclaimer-learn-more"><a href="${learnMoreUrl}">Learn more &rarr;</a></p>
    </div>
    <button class="site-disclaimer-dismiss" type="button">I Understand</button>
  `;

  banner.querySelector('.site-disclaimer-dismiss').addEventListener('click', function() {
    banner.remove();
    document.body.classList.remove('has-disclaimer');
    try { localStorage.setItem(STORAGE_KEY, '1'); } catch (e) {}
  });

  document.body.prepend(banner);
  document.body.classList.add('has-disclaimer');
})();
</script>
{{- end }}
